  /* Estilização da inserção feita no HTML usando JS */

.mensagem-cadastro {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top: 1rem;
  width: 50%;
  background-color: var(--background-clean);
  font-size: 18px;
  border-radius: .2rem;
  border: 1px solid var(--cor-secundaria);
}

.mensagem-cadastro:empty {
  border: none;
}