/* Estilização da seção MENSAGEM INICIAL */
section#mensagem-inicial {
    padding: .5rem;
}

#nome-site {
    text-align: center;
    font-style: bold;
    font-size: 35px;
    padding: 0;
    color: var(--cor-da-empresa)
}

#mensagem {
    text-align: center;
    color: var(--cor-secundaria);
    font-size: 25px;
}

/* Estilização da seção INPUT */
section#input {
    display: flex;
    padding-top: .5rem;
    width: 90%;
    margin: auto;
    align-items: center;
    position: relative;
}

i.bi-search {
    position: absolute;
    color: var(--cor-secundaria);
    padding: 3rem;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(105, 100, 100);
    cursor: pointer;
}

#input-text {
    width: 90%;
    margin: auto;
    font-size: 20px;
    padding: .5rem .5rem .5rem;
    padding-left: .5rem;
    border: 1mm solid var(--cor-da-empresa);
    border-radius: .5rem;
    text-align: right;
    background-color: #b3b0f3;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--cor-da-empresa);
    caret-color: var(--cor-da-empresa);
}

/* Estilização da seção CATEGORIAS */
section#categorias {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    padding: 2rem;
    ;
}

#ul-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.li-categoria {
    margin: 0;
}

.categoria {
    margin: 0rem;
    text-decoration: none;
    text-align: center;
}

.li-categoria {
    background-color: var(--cor-da-empresa);
    width: 238px;
    height: 25px;
    color: white;
    list-style: none;
    padding: .5rem 1rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.5s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

#perdidos {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

#cadastro-caozinho {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.li-categoria:hover {
    background-color: var(--cor-secundaria);
    color: white;
}

/* Estilização da seção ANIMAIS */
section#cards-animais {
    display: flex;
}

div.perdidos-encontrados {
    display: flex;
    flex-wrap: wrap;
    color: var(--cor-secundaria);
    font-size: 17px;
    padding-left: 2rem;
}

h2#todos {
    text-align: center;
    color: var(--cor-secundaria);
    font-size: 25px;
}

.card-animal {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    width: 25%;
    background-color: white;
}

.card-animal:hover {
    cursor: pointer;
    border: 1mm solid var(--cor-da-empresa);
}

.card-animal img {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    object-fit: cover;
    text-align: center;
    align-items: center;
}

h3.nome-do-animal {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    font-size: 20px;
    color: var(--cor-da-empresa);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Estilização do VER MAIS */
div#ver-mais {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

div#ver-mais a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: 600;
    margin-right: .2rem;
}

/* Utilizando media queries para tornar a página acessível à telas menores */

@media screen and (max-width: 480px) {
    #nome-site {
        font-size: 25px;
    }

    section#input {
        width: 100%;
    }

    i.bi-search {
        font-size: 25px;
        padding: .5rem;
    }

    #input-text {
        font-size: 16px;
        width: 100%;
    }

    #ul-categoria {
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    #perdidos,
    #cadastro-caozinho {
        border-radius: 0%;
    }

    #cards-animais {
        flex-wrap: wrap;
    }

    div.card-animal {
        width: 100%;
    }
}