/* Estilização da seção LOGIN */
.secao-login {
  width: 60%;
  padding-top: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

#mensagem-login {
  text-align: center;
  font-style: bold;
  font-size: 25px;
  margin-bottom: .5rem;
  color: var(--cor-secundaria);
  width: 60%;
  margin: auto;
}

span {
  color: var(--cor-da-empresa);
}

.login-senha {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.login {
  display: flex;
  margin-left: 7.5rem;
  font-size: 20px;
  padding: .5rem 0 .8rem 0;
  color: var(--cor-da-empresa);
  font-weight: 700;
}

.input {
  padding: .5rem;
  margin: auto;
  font-size: 20px;
  width: 60%;
  border: 1mm solid var(--cor-da-empresa);
  border-radius: .5rem;
  text-align: left;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--cor-da-empresa);
  caret-color: var(--cor-da-empresa);
}

::-webkit-input-placeholder {
  padding-left: .5rem;
  text-align: right;
}

.radio {
  display: flex;
  justify-content: center;
}

#macho,
#femea,
#desconhecido,
#perdido,
#encontrado {
  font-size: 20px;
  font-weight: 700;
  color: var(--cor-secundaria);
  margin: .5rem;
}

.botao {
  background-color: var(--cor-da-empresa);
  border: 0;
  border-radius: .5rem;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  width: 38%;
  justify-content: center;
}

.botao:hover {
  background-color: var(--cor-secundaria);
  color: white;
}

.botao:active {
  position: relative;
  top: 1px;
}

#cadastro-usuario {
  color: var(--cor-secundaria);
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

  /* Estilização da inserção feita no HTML usando JS */

  .card-cadastro {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    background-color: var(--background-clean);
    z-index: 999;
    font-size: 18px;
    border-radius: .2rem;
    border: 1px solid var(--cor-secundaria);
  }

/* Media queries */
@media screen and (max-width: 480px) {
  #nome-da-empresa {
    font-size: 30px;
  }

  .login {
    margin: auto;
    text-align: center;
  }

  .botao {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70%;
  }

  .input {
    width: 80%;
    font-size: 18px;
  }

  .radio {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}