@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Sans Pro', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

:root {
    --background-clean: #ffadd7;
    --cor-da-empresa: #CF1C79;
    --cor-secundaria: #281FB9;
}

/* Estilização do HEADER */
.cabecalho {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/img/cabecalho.png');
    width: 100%;
    height: 400px;
}

.menu .ul-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.ul-menu li {
    display: flex;
    list-style: none;
    padding: 1rem;
    color: white;
}

ul li#icone-perfil {
    display: flex;
    padding-right: 0;
    padding-left: 1rem;
    margin-right: .8rem;
    align-items: center;
}

.bi-person-circle {
    padding-right: 1rem;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.login-perfil {
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
    padding-right: .5rem;
}

a#link-perfil {
    text-decoration: none;
}
  
ul li#icone-localizacao {
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

.bi-geo-alt {
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-right: .2rem;
}

#cep {
    display: flex;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border: 1px solid var(--cor-secundaria);
    height: 30px;
    padding-right: .5rem;
    padding-left: .5rem;
    align-items: center;
    justify-content: center;
    width: 115px;
}

#botao-localizacao {
    display: flex;
    background-color: var(--cor-da-empresa);
    box-shadow: 2px 2px 5px black;
    border-color: white;
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem  ;
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    text-decoration: none;
}

.localizacao {
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
}

/* Estilização do FOOTER */

.footer {
    background-color: var(--background-clean);
    margin-top: 5rem;
}

.footer-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-card a {
    text-decoration: none;
    text-align: center;
}

.footer-card li {
    list-style: none;
}

.footer-item {
    margin: .5rem;
    text-align: center;
}

i.bi-house-heart-fill {
    font-size: 40px;
    color: var(--cor-da-empresa);
}

i.bi-telephone-fill {
    font-size: 40px;
    color: var(--cor-da-empresa);
}

i.bi-envelope-fill {
    font-size: 40px;
    color: var(--cor-da-empresa);
}

.footer-nome-item {
    color: var(--cor-secundaria);
    font-weight: 600;
}

/* Utilizando media queries para tornar a página acessível à telas menores */

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    header {
        display: flex;
    }

    .cabecalho {
        height: 300px;
      }

    i.bi-geo-alt,
    .localizacao,
    #cep,
    #botao-localizacao {
        display: none;
    }

    i.bi-person-circle {
        font-size: 40px;
        
    }

    .login-perfil {
        display: none;
    }

    .ul-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .ul-menu li {
        padding: .2rem;
    }

    input::placeholder {
        font-size: small;
    }

    ul.footer-card {
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .footer-card a {
        width: 100%;
    }
}